/.vscode
/75757.csv
/examineFailPdf.py
/main.js
/main.py
/MatchObject.py
/mod_json.py
/node_modules
/package-lock.json
/package.json
/papers
/pdf2xml.py
/resulr_regular.csv
/result_regular.csv
/result_regular_3.csv
/src
/test.py
/UnDownload
/UnDownload.zip
/utils.py
/__pycache__
/~$数据论文复用深度的评估方法_20230918.docx
/生态管理 汇报的记录.docx